@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: myFirstFont;
  src: url("Avenr-Font/Avenir-Book.ttf");
}
@font-face {
  font-family: bold-font;
  src: url("Avenr-Font/Avenir\ Heavy.ttf");
}
