//GLOBAL COLOR VARIABLES
$white: #ffffff !default;
$black: #000000 !default;
$base-primary: #0d2187 !default;
$base-secondary: #0d2287 !default;
$header-button: #3c5bff !default;
$base-light: #535d73 !default;
$base-lighter: #bbc1ce !default;
$base-gray-dark: #f3f4f6 !default;
$base-gray-light: #e7eaed !default;
$paragraph-color: #535d73 !default;
$heading-color: #273245 !default;
$base-box-shadow: #dce6f5 !default;
$background-color: #f7fbff !default;
$border-color: #ccc !default;
$NavLink-color: #45536b !default;
$sidebar-link-color: #818181 !default;
$cross-color: #8b98a9 !default;
$footer-li-color: #525f75 !default;
$border-bottom: #eae8e8 !default;
$div-box-Shahdow: #0000001a !default;
$scroll-box-shahdow: 0 4px 3px 0 rgba(34, 90, 182, 0.12),
  0 0 1px 0 rgba(41, 92, 176, 0.25) !default;
