@import "./Modules/header";
@import "./Modules/footer";
@import "./fonts";
@import "./default";
.body,
.MuiTypography {
  font-family: myFirstFont;
}
@mixin Boxer-button {
  color: $white;
  background-color: transparent;
  background-image: none;
  border: 1.5px solid $white;
  padding: 7px 10px;
  border-radius: 0;
  width: 175px;
  text-transform: uppercase;
}
@mixin heading {
  font-family: bold-font;
}
@mixin get-started-button {
  background-color: $white;
  color: $base-primary;
}
.spacing {
  padding: 45px 0;
}
.overlay-div {
  background-color: $base-primary;
  padding-top: 90px;
}
.overlay-div {
  .text-div {
    padding: 100px 0;
  }
  .h1-heading {
    color: $white;
    @include heading;
  }
  .amazon-para {
    font-size: 18px;
    color: $white;
    margin: 22px 0px;
  }
  .button {
    @include Boxer-button;
  }
  .get-started-button {
    @include get-started-button;
    margin-right: 10px;
  }
  .button:hover {
    background-color: $white;
    color: $base-primary;
  }
  .m-4 {
    margin-bottom: 30px;
  }
  .img-div {
    text-align: right;
    padding: 58px 0;
    height: 530px;
    .laptop-img {
      max-width: 100%;
      height: auto;
      margin-left: 80px;
    }
  }
}
.container-bg-color {
  background-color: $base-gray-dark;
  padding-bottom: 8em;
  .brand-9 {
    display: flex;
    justify-content: center;
  }
  .logs {
    padding: 30px;
    .logo-img {
      width: 100px;
      height: 30px;
    }
    .sound-cloud {
      width: 150px;
    }
  }

  .heading {
    .business-paragraph {
      color: $base-light;
      font-size: 18px;
    }
  }
  .business-tools {
    background-color: $white;
    box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12),
      0 0 1px 0 rgba(41, 92, 176, 0.25);
    border-radius: 5px;
    margin: 15px 2px;
    min-height: 290px;
    .Tools {
      padding: 50px;
      .track-shipment {
        margin-bottom: 20px;
      }
      .paragraph {
        .pl-2 {
          color: $paragraph-color;
          font-size: 18px;
        }
      }
      .Tools-img {
        width: 35px;
      }
      .img-detail {
        font-weight: 400;
        font-size: 20px;
        margin-left: 8px;
      }
    }
  }
}
.inner-data {
  .col-md-6 {
    margin-bottom: 50px;
    .business-detail {
      color: $base-light;
      font-size: 18px;
      text-align: left;
    }
    .shipment {
      .shipment-img {
        width: 175px;
      }
    }
  }
}
.Succeed-your-business {
  background-color: $white;

  .progress-div {
    background-color: $base-primary;
    color: $white;
    padding: 45px 0;
    .revenue-heading {
      font-size: 16px;
    }
  }
  .pricing {
    background-color: $background-color;
    .h1-heading {
      padding: 1rem;
    }
    .inner-pricing-div {
      box-shadow: 0px 3px 6px $base-box-shadow;
      border-radius: 10px;
      background-color: $white;
      .user-div {
        border-bottom: 1px solid $border-bottom;
        padding: 30px;
      }
      .place-order-button {
        .button {
          @include Boxer-button;
          color: $base-primary;
          border: 1.5px solid $base-primary;
        }
        :hover {
          background-color: $base-primary;
          color: $white;
        }
      }
      .order-list {
        .check-li {
          padding: 7px 0 7px 28px;
          font-size: 14px;
          font-weight: 300;
          text-align: justify;
          .check-icon {
            margin-right: 10px;
            color: $base-primary;
            font-size: 14px;
          }
        }
      }
    }
  }
  .company-intro {
    .client-img {
      max-width: 100%;
    }
    .detail-img {
      background-color: $base-primary;
      color: $white;
      border-radius: 0px 10px 10px 0px;
      padding: 6px 38px;
      .company-paragraph {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 20px;
      }
    }
    .customer-says {
      margin-bottom: 4em;
      .reviews {
        box-shadow: 7px 7px 10px $div-box-Shahdow;
        background-color: $background-color;
        border: 1px solid $border-bottom;
        border-radius: 5px;
        padding: 30px 20px;
        .reviews-paragraph {
          color: $base-light;
          font-size: 16px;
          line-height: 28px;
          margin-top: 20px;
          font-weight: 300;
        }
        .Image-info {
          margin: 7px 13px;
        }
      }
    }
  }
  .Ask-question {
    background-color: $background-color;
    padding-bottom: 70px;
    .panel {
      padding: 30px 0;
      border-top: 1px solid $border-color;
    }
    .panel-title > a:before {
      float: left;
      font-family: FontAwesome;
      content: "\f068";
      padding: 5px 15px;
      font-size: 20px;
      color: $heading-color;
    }
    .panel-title > a.collapsed:before {
      float: left;
      content: "\f067";
    }
    .panel-title > a:hover,
    .panel-title > a:active,
    .panel-title > a:focus {
      text-decoration: none;
    }
    .panel-title a {
      color: $heading-color;
      font-size: 20px;
      font-weight: 400;
    }
    .panel-body {
      padding-left: 45px;
      font-size: 18px;
      font-weight: 200;
    }
  }
  .started-business {
    background-color: $base-primary;
    color: $white;
    padding: 60px 0;
    text-align: center;
    .heading {
      .h1-heading {
        @include heading;
      }
      .business-paragraph {
        font-size: 18px;
      }
    }
    .started-buttons {
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .button {
        @include Boxer-button;
        margin-right: 10px;
      }
      .button:hover {
        background-color: $white;
        color: $base-primary;
      }
      .get-started-button {
        @include get-started-button;
      }
    }
  }
}

#main {
  img {
    width: 118px;
  }
}
.header-color {
  background-color: $white;
}

.reserve-data {
  display: flex;
}
@media (max-width: 1200px) {
  .Succeed-your-business .company-intro .customer-says .reviews .img-info span {
    font-weight: 100;
    font-size: 8px;
    .detail-img {
      .company-paragraph {
        font-size: 11px;
        margin-bottom: 11px;
      }
    }
  }
  .container-bg-color .business-tools .Tools {
    padding: 35px;
    .img-detail {
      font-size: 17px;
    }
  }
  .Succeed-your-business .company-intro .detail-img .company-paragraph {
    font-size: 11px;
  }
  .overlay-div .img-div .laptop-img {
    margin-left: 62px;
  }
}
@media (max-width: 991px) {
  .boxer-sidemenu {
    display: block;
  }
  .overlay-div .text-div {
    padding: 10px 30px;
    height: 200px;
    text-align: center;
    .h1-heading {
      font-size: 40px;
    }
  }
  .overlay-div .img-div {
    height: 475px;
  }
  .container-bg-color .business-tools {
    width: 100%;
    padding: 10px;
  }
  .progress-div .container .row .col-md-4 {
    padding: 42px 7px;
  }
  .Succeed-your-business .pricing-detail {
    .text-center {
      padding: 15px;
      font-size: 16px;
      padding-bottom: 0;
      font-weight: 600;
    }
    .user-limit {
      font-size: 14px;
    }
  }
  .pricing {
    .h1-heading {
      font-size: 30px;
    }
    .inner-pricing-div .order-list .check-li {
      padding: 7px 0 7px 22px;
    }
  }
  .Succeed-your-business
    .company-intro
    .customer-says
    .reviews
    .reviews-paragraph {
    font-size: 10px;
    line-height: 24px;
    margin-top: 5px;
  }
  .Succeed-your-business .company-intro .customer-says .h1-heading {
    font-size: 30px;
  }
  .reviews .img-info {
    margin: 3px 3px;
    text-align: center;
  }
  .started-business {
    .heading {
      .h1-heading {
        font-size: 26px;
        margin: 9px 0;
      }
    }
  }
  .overlay-div .amazon-para {
    font-size: 14px;
    color: $white;
    margin: 10px 0px;
  }
  .started-buttons {
    justify-content: center;
  }
  .Succeed-your-business .pricing .inner-pricing-div .order-list .check-li {
    padding: 7px 0 7px 18px;
    font-size: 0.9em;
  }
  .overlay-div {
    .header-control {
      flex-direction: column;
      .img-div .laptop-img {
        margin-left: 0;
      }
    }
  }
  .Succeed-your-business .company-intro .detail-img {
    padding: 2px 19px;
    .h1-heading {
      font-size: 26px;
      margin-bottom: 3px;
    }
    .company-paragraph {
      font-size: 11px;
      margin-bottom: 4px;
    }
  }
  .Succeed-your-business .progress-div .revenue-heading {
    font-size: 14px;
  }
  .Freq-heading,
  .heading .h1-heading {
    font-size: 30px;
  }
  .Shipment-heading {
    font-size: 24px;
  }
  .inner-data .col-md-6 .business-detail {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .overlay-div .text-div .started-buttons,
  .started-business .started-buttons {
    padding: 10px 27px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .button,
    .mr-3 {
      margin: 15px 0;
      margin-right: 0;
    }
  }
  .Succeed-your-business .company-intro .customer-says .reviews {
    margin: 5px 2px;
  }
  .client-info {
    justify-content: center;
  }
  .Succeed-your-business .started-business .heading .business-paragraph {
    font-size: 14px;
  }
  .Succeed-your-business .inner-data .col-md-6 .business-detail {
    text-align: left;
    font-size: 14px;
  }
  .Succeed-your-business .Ask-question .panel-title a {
    font-size: 13px;
  }
  .Succeed-your-business .Ask-question .panel-title > a:before {
    padding: 10px 7px;
    font-size: 14px;
  }
  .company-intro {
    .d-flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .Succeed-your-business .company-intro .detail-img {
    border-radius: 0 0 10px 10px;
    padding: 20px;
  }
  .Succeed-your-business .Ask-question .panel-body {
    padding-left: 26px;
    font-size: 11px;
  }
  .container-bg-color .business-tools .Tools {
    padding: 7px;
  }
  .Succeed-your-business .started-business .get-started-button {
    width: 138px;
    font-size: 14px;
  }
  .Shipment-heading,
  .User-heading {
    font-size: 20px;
  }
  .overlay-div .text-div .h1-heading,
  .h1-heading {
    font-size: 32px;
  }
  .progress-div .container .row .col-md-4 {
    padding: 15px 7px;
  }
  .reserve-data {
    flex-direction: initial;
  }
}
@media (max-width: 575px) {
  .overlay-div .img-div {
    height: 400px;
    padding: 140px 0;
  }
  .reserve-data {
    flex-flow: wrap-reverse;
  }
  .container-bg-color .business-tools {
    width: 100%;
    padding: 10px;
    min-height: 210px;
  }
  .overlay-div .text-div .h1-heading,
  .h1-heading {
    font-size: 23px;
  }
}
